process {
    resourceLimits = [ cpus: 128, memory: 1024.GB, time: 240.h ]

    time = 96.h
    maxRetries = 3
    errorStrategy = 'retry'

    withName: '.*:FASTP' {
        cpus = 2
    }

    withName: '.*:ALIGN_STAR:STAR_ALIGN' {
        cpus = 8
    }

    withName: 'DEEPTOOLS_BAMCOVERAGE_REV' {
        ext.args = { [
            '--normalizeUsing CPM',
            '--exactScaling',
            '--samFlagInclude 3',
            '--samFlagExclude 2572',
            '--binSize 25',
            '--skipNonCoveredRegions',
            '--outFileFormat bigwig',
            meta.strandedness == 'reverse' ? '--filterRNAstrand reverse' : '--filterRNAstrand forward'
        ].join(' ').trim() }
        cpus = 4
    }

    withName: 'DEEPTOOLS_BAMCOVERAGE_FW' {
        ext.args = { [
            '--normalizeUsing CPM',
            '--exactScaling',
            '--samFlagInclude 3',
            '--samFlagExclude 2572',
            '--binSize 25',
            '--skipNonCoveredRegions',
            '--outFileFormat bigwig',
            meta.strandedness == 'reverse' ? '--filterRNAstrand forward' : '--filterRNAstrand reverse'
        ].join(' ').trim() }
        cpus = 4
    }

    withName: '.*:SALMON_QUANT' {
        ext.args   = [
            '--thinningFactor 32',
            '--numGibbsSamples 100',
            '--dumpEqWeights'
        ].join(' ').trim()
    }
}

profiles {
    slurm {
        // SLURM options
        process.executor = "slurm"
        process.queue = "short,long"
        process.cache = "lenient"
        process.scratch = true
        // Enable singularity
        singularity.enabled    = true
        singularity.autoMounts = true
        // Disable other options
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }

    latency {
        executor {
            pollInterval      = '30 sec'
            dumpInterval      = '30 sec'
            queueStatInterval = '1 min'
            submitRateLimit   = '1/1sec'
            exitReadTimeout   = '12000 min' // Ridiculously high value to avoid timeouts
        }
    }
}